<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'smite/index.css' %}">
  <title>{% block title %}Smite.io{% endblock %}</title>
</head>
<body>
  <nav>
    <div id="title">
      <h1>
        Smite
      </h1>
    </div>
    <div id="links">
        <a href="">home</a>
        <a href="">gods</a>
        <a href="">items</a>
    </div>
  </nav>
  <main>
    {% block content %}
    
    {% endblock %}
  </main>
  <footer>
    footer
  </footer>
</body>
</html>