body{
    color: white;
    background: #071325;
}

#player_results{
    display: flex;
}

#player{
    display: flex;
    flex-direction: column;
}

#player_card{
    background: rgba(255, 255, 255, 0.233);
    padding: 0.5em;
    border-radius: 1em;
    border: 1px solid white;
    color: white;
}

