<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block title %}Smite{% endblock %}

{% block content %}
<h4>{{sess}}</h4>
<div id="gods">
    <div v-for="god in gods">
        <div class="god">
            <img :src="god.godCard_URL" alt="">
            <p>[[god.Name]]</p>
            <p>[[god.Title]]</p><hr>
            <p class="pros">[[god.Pros]]</p>
        </div>
    </div>
</div>

{{ gods|json_script:'all-gods' }}
<script>

    const getGods = JSON.parse(document.getElementById('all-gods').textContent)
    new Vue({
        el: "#gods",
        delimiters: ['[[',']]'],
        data: {
            gods: getGods,
        }
    })
</script>
{% endblock %}