<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block title %}Smite{% endblock %}

{% block content %}
<div class="index-background">
    <div class="index-background-filter">
<div class="page-title">
    <h4></h4>
</div>

        
        <div class="index">
            <div class="form-container">
            <form action="{% url 'smite:search_player' %}" method="post">
                {% csrf_token %}
                
                <input type="text" name="player" id="player" autocomplete="off" placeholder="Player Name"/>
                
                <button type="submint">Search Player</button>
                
            </form>
        </div>
        <p>Smite index test session</p>
            <h1 class=" text-lg text-purple-800">{{dev}}</h1>
            <h1>{{auth}}</h1>
            <h2>{{hashed}}</h2>
            <h3>{{time}}</h3>
            <h4>{{res}}</h4>
            <p>{{sess}}</p>
        </div>
    </div>
</div>
{% endblock %}