<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block title %}Smite{% endblock %}

{% block content %}
<div class="index-background">
    
<div class="page-title-index">
    <h4></h4>
</div>

        
        <div class="index">
            <h1 class="under">Search Player</h1>
            <h1 class="over">Search Player</h1>
            <div class="form-container">
            <form action="{% url 'smite:search_player' %}" method="post">
                {% csrf_token %}
                
                <input type="text" name="player" id="player" placeholder="Player Name"/>
                
                <button type="submint"><img src="{% static 'smite/icons8-search-26.png' %}" alt=""></button>
                
                
            </form>
        </div>
            
        </div>
</div>
{% endblock %}