<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block title %}Smite{% endblock %}

{% block content %}
<div class="index-background">
    <div class="index-background-filter">
<div class="page-title">
    <h4></h4>
</div>

        
        <div class="index">
            <div class="form-container">
            <form action="{% url 'smite:search_player' %}" method="post">
                {% csrf_token %}
                
                <input type="text" name="player" id="player" placeholder="Player Name"/>
                
                <button type="submint">Search</button>
                
            </form>
        </div>
        
        </div>
    </div>
</div>
{% endblock %}