<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block title %}Smite{% endblock %}

{% block content %}
<div class="page-title">
    <h4>ITEMS</h4>
</div>
<div id="items">
    {% for r in res %}
        {% if r.DeviceName not in test_img %}
        <a class="item_link" :href=`#`>
        <div class="item" >
            <img src="{{r.itemIcon_URL}}" alt="">
            <div class="item-details">
            <div class="item-details-name">{{r.DeviceName}}</div>
            <div class="item-details-title"></div>
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
