<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block title %}Smite{% endblock %}

{% block content %}
{{player.Name}}<br/>
    {{player.HoursPlayed}}<br/>
    {{player.Last_Login_Datetime}}<hr>
    {{sess}}
    <hr>
    {{player}}
    <hr>
    {% for match in history %}
        <a href="{% url 'smite:get_match' match=match.Match %}">
            <h4>{{match.Match_Time}}</h4>
            <h4>{{match.God}}</h4>
            {{match}}<hr>
        </a>
    {% endfor %}
{% endblock %}